@import '../../variables.scss';

.portfolio {
  margin: 50px 0;

  &-grid {
    display: flex;
    flex-flow: wrap;

    &-item {
      width: 33%;

      img {
        width: calc(100% - 5px);
        border-radius: 4px;
        transition: 0.5s;

        &:hover {
          -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.35);
          box-shadow: 0 5px 25px 0 rgba(0,0,0,.35);
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
  }
}



@media (max-width: 768px) {
  .portfolio-grid {
    &-item {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
