@import '../../variables.scss';

.header {
  width: 100%;
  padding: 25px 0;
  background: $black;

  &-content {
    display: flex;
    align-items: center;
    padding: 0 25px;

    img {
      height: 35px;
      padding-right: 15px;
    }
  }

  &-seb {
    border-left: solid 1px $grey-1;
    padding-left: 15px;

    &-name {
      font-size: 24px;
      font-weight: 600;
      color: $white;
    }
    &-role {
      color: $grey-3;
    }
  }
}

@media (max-width: 768px) {
  .header-content {
    display: block;
    text-align: center;

    img {
      margin: 0 0 10px 0;
      border-right: 0px;
      padding-right: 0;
    }
  }
}
