@import '../../variables.scss';

.header {
  width: 100%;
  padding: 25px 0;
  border-bottom: solid 1px $grey-4;

  &-content {
    display: flex;
    align-items: center;
    padding: 0 25px;

    img {
      height: 35px;
      padding-right: 15px;
      border-right: solid 1px $grey-4;
      margin-right: 15px;
    }
  }

  &-seb {
    &-name {
      font-size: 20px;
      font-weight: 500;
    }
    &-role {
      color: $grey-2;
    }
  }
}

@media (max-width: 768px) {
  .header-content {
    display: block;
    text-align: center;

    img {
      margin: 0 0 10px 0;
      border-right: 0px;
      padding-right: 0;
    }
  }
}
