@import '../../variables.scss';

.intro {
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white;
    position: relative;
  }

  &-block {
    margin: 25px 0 75px 0;
  }

  &-btn {
    display: flex;
    justify-content: center;

    &-item {
      font-size: 16px;
      font-weight: 600;
      border: none;
      text-decoration: none;
      display: -ms-inline-flexbox;
      display: inline-flex;
      align-items: center;
      -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
      box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
      padding: 15px 15px;
      border-radius: 6px;
      position: relative;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-right: 15px;

      img {
        margin-right: 10px;
      }

      &:hover {
        color: #fff;
        -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.35);
        box-shadow: 0 5px 25px 0 rgba(0,0,0,.35);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }

      &.linkedIn {
        color: $white;
        background: #046fac;
      }

      &.github {
        background: $white;
        color: $black;
      }
    }
  }
}
