@import './variables.scss';

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-Heavy.otf) format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-Bold.otf) format('truetype');
   font-weight: 600;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-BoldItalic.otf) format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-Demi.otf) format('truetype');
   font-weight: 500;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf) format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-Medium.otf) format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.otf) format('truetype');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-Regular.otf) format('truetype');
   font-weight: 300;
}

@font-face {
   font-family: 'Avenir Next';
   src: url(./lib/fonts/AvenirNext/AvenirNextLTPro-It.otf) format('truetype');
   font-weight: 300;
   font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $black;
  background: $white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.app {
  &-content {
    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  h3 {
    text-align: center;
  }

}
